body {
    background-image: url("http://www.funny-animalpictures.com/media/content/items/images/funnydinosaurs0045_O.jpg");
    background-color: indianred;
}
h1 {
    font: 'Times New Roman';
    color: indianred;
}
.dino.template {
    display: none;
}
.actions {
    float: right;
}
.dino { 
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    transition: .25s;
    
}

.dino + .dino {
    border-top: none;
}

.dino-name {
    flex-grow: 1;
    margin-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.diet-name {
    flex-grow: 1;
    margin-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.div {
    color: yellowgreen;
}

span {
    font: 'Times New Roman';
    color: yellow;
}

.actions.button-group {
    margin-bottom: 0;
    white-space: nowrap;
}

.actions.button {
    padding: 0.65em 0.8em;
}
.dino.fav{
    background-color: purple;
    border-color: indigo;
}

.dino:first-child .move-up,
.dino:last-child .move-down {
    background-color: #ddd;
    color: #eee;
    cursor: not-allowed;
}