body {
    background-image: url("http://www.funny-animalpictures.com/media/content/items/images/funnydinosaurs0045_O.jpg");
    background-color: indianred;
}
h1 {
    font: 'Times New Roman';
    color: indianred;
}
.template {
    display: none;
}
.actions {
    float: right;
}
.dino {
    clear: both;
}