body {
    background-image: url("http://www.funny-animalpictures.com/media/content/items/images/funnydinosaurs0045_O.jpg");
    background-color: indianred;
}
h1 {
    font: 'Times New Roman';
    color: indianred;
}
.dino.template {
    display: none;
}
.actions {
    float: right;
}
.dino { 
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
}

.dino + .dino {
    border-top: none;
}

.dino-name {
    flex-grow: 1;
}

.div {
    color: yellowgreen;
}

span {
    font: 'Times New Roman';
    color: yellow;
}

.actions.button-group {
    margin-bottom: 0;
}